TelcoNetwork/Schemas/ActivationInputRest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ActivationInputRest" xmlns:tns="http://www.example.org/ActivationInputRest" elementFormDefault="qualified">

    <complexType name="RequestParam">
    	<sequence>
    		<element name="CustomerName" type="string"></element>
    		<element name="UniqueID" type="string"></element>
    		<element name="ConnectionType" type="string"></element>
    	</sequence>
    </complexType>

    <element name="Request" type="tns:RequestParam"></element>
</schema>