TelcoNetwork/Schemas/RestDeactivation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/RestDeactivation" xmlns:tns="http://www.example.org/RestDeactivation" elementFormDefault="qualified">

    <complexType name="RequestParam">
    	<sequence>
    		<element name="ConnectionNumber" type="int"></element>
    		<element name="CustomerName" type="string"></element>
    		<element name="ConnectionType" type="string"></element>
    	</sequence>
    </complexType>

    <element name="Request" type="tns:RequestParam"></element>
</schema>