TelcoNetwork/Service Descriptors/DeactivationSoap.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.tibco.com/DeactivationSoap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeactivationSoap" targetNamespace="http://www.tibco.com/DeactivationSoap/" xmlns:xsd1="http://www.example.org/RestDeactivation">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/DeactivationSoap/">
	<xsd:element name="NewOperation">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="in" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NewOperationResponse">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="out" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NewOperation1">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="in" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NewOperation1Response">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="out" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema>
    	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    		<xsd:import
    			namespace="http://www.example.org/RestDeactivation"
    			schemaLocation="../Schemas/RestDeactivation.xsd">
    		</xsd:import></xsd:schema></wsdl:types>
    <wsdl:message name="NewOperationRequest">
		<wsdl:part name="parameters" element="xsd1:Request"></wsdl:part>
	</wsdl:message>
    <wsdl:message name="NewOperationResponse">
    	<wsdl:part name="parameters" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="NewOperation1Request">
    	<wsdl:part name="parameters" element="tns:NewOperation1"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="NewOperation1Response">
    	<wsdl:part name="parameters" element="tns:NewOperation1Response"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Deactivation">
    	<wsdl:operation name="NewOperation">
    		<wsdl:input message="tns:NewOperationRequest"></wsdl:input>
    		<wsdl:output message="tns:NewOperationResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType></wsdl:definitions>
